@model List<FarmToFork.Models.Feature>
<div class="container-fluid p-2">
    <table class="table fs-5">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Icon</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var feature in Model)
        {
            <tr>
                <th scope="row">@feature.Id</th>
                <td>@feature.Title</td>
                <td>@feature.Description</td>
                <td><i class="fas @feature.Icon"></i></td>
                <td>
                    <a asp-action="Update" asp-controller="feature" asp-route-id="@feature.Id">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a  onclick="if(!confirm('Are you sure?')){ return false; }" asp-action="Remove" asp-controller="feature" asp-route-id="@feature.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
       
        </tbody>
    </table>
    <a class="btn btn-primary w-100" asp-controller="Feature" asp-action="Add">Add  Feature</a>
</div>